.about {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem 0 1rem 0;
    margin-bottom: 5rem;
}

.about .about_main {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_main .text {
    width: 50%;
    height: 80%;
    background-color: black;
}

.text h1 {
    text-align: left;
    font-size: 2.5rem;
    color: white;
    font-style: italic;
}

.text .context{
    color: gray;
    margin-top: 0.5rem;
}

.text h3{
    color:aqua;
    margin-top: 1rem;
}

.text h2{
    color: white;
    margin-top: 1rem;
}

.text .skillset{
    color:white;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-top: 0.5rem;
}

.skillset p{
    border: 1px solid gray;
    padding: 0.2rem 1rem;
    border-radius: 20px;
    margin:0.5rem 0.5rem 0.5rem 0;
}

.about_main .img {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px) {

    .about {
        padding: 5rem 0 1rem 0;
    }

    .about .about_main {
        width: 90%;
    }

    .text h1 {
        width: 100%;
        font-size: 1.9rem;
        font-weight: lighter;
        font-style: normal;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    

}

@media screen and (max-width:1256px) {
    .about .about_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about_main .text {
        width: 100%;
        height: 40%;
        background-color: black;
    }

    .text h1 {
        text-align: center;
    }


    .about_main .img {
        width: 100%;
        height: 40%;
        margin-top: 1.5rem;
    }

    .text .skillset{
        width: 100%;
    }

    .text .context{
        text-align: justify;
    }


}